<template>
    <div class="container">
        <SearchBar @search="searchMovies" v-bind:titles="titles"/>
        <div class="row">
            <div class="col-md-4 p-0">
                <FilterForm v-bind:categories="categories" @filter="filterMovies"/>
            </div>
            <div class="col-md-8 px-3 mb-5">
                <MovieList v-bind:movies="movies"/>
            </div>
        </div>
        
    </div>
</template>

<script>
    import MovieList from "../components/MovieList.vue";
    import SearchBar from "../components/SearchBar.vue";
    import FilterForm from "../components/FilterForm.vue";
    import MovieService from "../services/MovieService";
    import CategoryService from "../services/CategoryService";

    export default {
        components: {
            MovieList,
            SearchBar,
            FilterForm
        },
        data() {
            return {
                movies: [],
                categories: [],
                searchString: "",
                categoryIds: [],
                titles: []
            }
        },
        created() {
            MovieService.getAll()
                .then(res => {
                    console.log(res);
                    
                    this.movies = res;
                    this.titles = this.movies.map(m => m.title);
                }).catch(err => {
                    console.warn(err)
                    this.movies = [];
                });
            CategoryService.getAll()
                .then(res => {
                    console.log(res);
                    this.categories = res;
                }).catch(err => {
                    console.warn(err)
                    this.categories = [];
                })
        },
        methods: {
            filterMovies(categoryIds) {
                this.categoryIds = categoryIds;
                
                MovieService.getAll(this.searchString, categoryIds)
                .then(res => {
                    console.log(res);
                    
                    this.movies = res;
                }).catch(err => {
                    console.warn(err)
                    this.movies = [];
                });
            },
            searchMovies(searchString) {
                this.searchString = searchString;
                
                MovieService.getAll(searchString, this.categoryIds)
                .then(res => {
                    console.log(res);
                    
                    this.movies = res;
                }).catch(err => {
                    console.warn(err)
                    this.movies = [];
                });
            }
        }

    }
</script>

<style scoped>

</style>