<template>
    <div class="container text-left">
        <div class="card p-5">

            <div v-if="movie == null" class="container">
                <div class="row">
                    <h2 class="font-weight-bold mb-4 px-3 py-2">
                        Oops! Something went wrong!
                    </h2>
                </div>
                <div class="row px-3">
                    No valid movie was found
                </div>
                <div class="row p-0">
                    <router-link :to="{ name: 'Movies' }"
                        class="btn card bg-green">
                        <h4 class="font-weight-bold m-0 p-1">Back to movie list</h4>
                    </router-link>
                </div>
            </div>

            <div v-else class="container">
                <div class="row">
                    <h2 class="card bg-green font-weight-bold mb-4 px-3 py-2">{{ movie.title }}</h2>
                </div>
                <div class="row">
                    <div class="col-md-2">Year:</div>
                    <div class="col-md-2">{{ movie.year }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Rating:</div>
                    <div class="col-md-2">
                        <b>{{ movie.rating }}</b>/10
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-2">Category:</div>
                    <div class="col-md-2">{{ movie.category.name }}</div>
                </div>
                
                <div class="row card bg-grey p-4 mx-0">   
                    <div class="row p-3">Description:</div>
                    <div class="row p-3">{{ movie.description }}</div>
                </div>
                
            </div>

        </div>
        
    </div>
</template>

<script>
    import MovieService from "../services/MovieService";

    export default {
        props: {
            id: String
        },
        data() {
            return {
                movie: {}
            }
        },
        created() {
            MovieService.get(this.id)
                .then(res => {
                    console.log(res);    
                    this.movie = res;
                }).catch(err => {
                    console.warn(err)
                    this.movies = null;
                });
        }
    }
</script>

<style scoped>
    .bg-grey {
        background: rgb(247, 250, 250);
    }
</style>