<template>
    <div class="card filter px-4 py-3 mt-0">
        <form class="form bg-white" v-on:submit.prevent="onSubmit">
            <p class="text-left font-weight-bold">Filter by categories:</p>
            <ul class="custom-control custom-checkbox pl-5">
                <li v-for="category in categories" :key="category.id" class="row">
                    <input v-bind:value="category.id" :id="category.id" type="checkbox" class="custom-control-input" @click="check($event)">
                    <label class="custom-control-label" :for="category.id">{{ category.name }}</label>
                </li>
            </ul>
            <button type="submit" class="btn card bg-green">Apply</button>
        </form>
    </div>
</template>

<script>
    export default {
        props: {
            categories: Array
        },
        data() {
            return {
                categoryFilterList: []
            }
        },
        methods: {
            check(e) {
                if (e.target.checked) {
                    this.categoryFilterList.push(Number(e.target.value));
                } else {
                    const index = this.categoryFilterList.indexOf(Number(e.target.value));           
                    this.categoryFilterList.splice(index, 1);      
                }
            },
            onSubmit() {
                console.log(this.categoryFilterList);    
                this.$emit('filter', this.categoryFilterList);
            }
        }
    }
</script>

<style scoped>
    
</style>