<template>
        <div class="card m-0 overflow text-left">
            <div class="row bg-green px-4">
                <div class="col-5 p-2 px">Title</div>
                <div class="col-2 p-2">Year</div>
                <div class="col-2 p-2 text-center">Rating</div>
                <div class="col-3 p-2">Category</div>
            </div>
            <div class="row bg-white px-4"
                v-for="movie of movies" :key="movie.id">
                <div class="col-5 p-2 border-bottom">
                    <router-link :to="{ name: 'MovieDetails', params: { id: movie.id } }">{{ movie.title }}</router-link>
                </div>
                <div class="col-2 p-2 border-bottom">{{ movie.year }}</div>
                <div class="col-2 p-2 border-bottom text-center">{{ movie.rating }}</div>
                <div class="col-3 p-2 border-bottom">{{ movie.category.name }}</div>
            </div>
            <div class="row bg-white p-4" v-if="movies.length <= 0">
                <div class="col-12">No movies found</div>
            </div>
        </div>
</template>

<script>
    export default {
        props: {
            movies: Array
        }
    }
</script>

<style scoped>
    .overflow {
        overflow: hidden;
    }
</style>