<template>
    <form class="form-inline d-flex justify-content-center row mb-3" @submit.prevent="search">
        <div class="searchbar-container card col-6">
            <input v-model="searchString" 
                    @input="suggest" 
                    @focus="suggest" 
                    @blur="hideSuggestions"
                    @keydown.down="onKeyDown"
                    @keydown.up="onKeyUp"
                    @keydown.enter="hideSuggestions"
                    class="form-control" type="text" placeholder="Search" aria-label="Search">
            <div class="suggestions bg-white text-left" v-if="suggestions.length > 0">
                <div v-for="suggestion in suggestions" 
                    :key="suggestion" 
                    @click="hideSuggestions" 
                    @mouseover="selectSuggestion(suggestion)"
                    :class="{ selected: suggestions.indexOf(suggestion) == suggestionIdPointer }" 
                    class="suggestion">{{ suggestion }}</div>
            </div>
        </div> 
        <button type="submit" class="btn bg-green card ml-0">Search</button>   
    </form>
</template>

<script>
    export default {
        props: {
            titles: Array
        },
        data() {
            return {
                searchString: "",
                suggestions: [],
                suggestionIdPointer: 0
            }
        },
        methods: {
            search() {     
                this.$emit('search', this.searchString);
            },
            suggest() {
                this.suggestions = this.titles
                    .slice(0, 6)
                    .filter(t => t.toLowerCase()
                        .startsWith(this.searchString.toLowerCase()));
            },
            onKeyDown() {
                if (this.suggestionIdPointer < this.suggestions.length - 1) {
                    this.suggestionIdPointer++;
                }
                this.searchString = this.suggestions[this.suggestionIdPointer]
            },
            onKeyUp() {
                if (this.suggestionIdPointer >= 0) {
                    this.suggestionIdPointer--;
                }
                this.searchString = this.suggestions[this.suggestionIdPointer]
            },
            hideSuggestions() {
                this.suggestions = [];
            },
            selectSuggestion(suggestion) {
                this.suggestionIdPointer = this.suggestions.indexOf(suggestion);
                this.searchString = suggestion;
            }
        }
    }
</script>

<style scoped>
    * {
        font-size: 20px;
    }

    .suggestions {
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 2.5rem;
        border: 1px solid #ced4da;
        box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
    }

    .suggestion {
        padding: 0.2rem .5rem;
        width: 100%;
        
    }

    .suggestion:hover, .suggestion.selected {
        background:  #ced4da;
    }



    .searchbar-container {
        padding: 0;
    }
</style>