<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
@import'~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');


#app {
  min-height: 100vh;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: rgb(234, 244, 245);
  font-size: 20px;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.bg-green {
  background: #50dd9e;
}

.bg-white {
  background: #fff;
}

.card {
  box-sizing: border-box;
  border-radius: 0.6rem;
  border: none;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  margin: 15px
}

</style>
